.mis-turnos-container {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  button {
    margin-left: 10px;
  }
  
  .edit-turno {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .edit-turno h2 {
    margin-bottom: 10px;
  }
  
  .edit-turno input {
    margin-bottom: 10px;
    padding: 5px;
  }
  